{% extends 'otree/Page.html' %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'DynamicPower_05_Experiment/commonCSS.html' %}
{% endblock %}

{% block scripts %}
    {% include 'DynamicPower_05_Experiment/commonJS.html' %}

    <script>

	ShowTables()

    </script>
{% endblock %}




{% block title %}
    Quiz
{% endblock %}

{% block content %}

		{% include 'DynamicPower_05_Experiment/commonHTML_Table.html' %}
		 <input type="hidden" name="placeholder" value="," id="id_calculatorHistory"/>


    <div class='card-body' style='text-align: left'>
	<div style="position:relative;left: 10%;width: 80%;background-color: #ffffff">

	<p><strong style='color: blue'>Question 1:</strong> 
	If in this round you choose {{ action_X_button }} and {{theotherParticipantChooses}}  {{ action_Y_button }} , what will your earning from stage 1 be?  
	<br> <em> Hint: If you open the calculator and select X for you and select Y for
	{{ if Faction_Number_minus1 == 1 }}the other participant{{ else }}all other participants{{ endif }}, your earning from stage 1 are presented in the first row of the ‘Earn’ column. </em></p>
	
	
	<div class = 'row' >
		<div class = 'column_quiz_left'  > 
			<input  name='quiz1_D' id='quiz1_D' class='quiz' type='number' style='width: 60px;' placeholder="integer"/> points </div> 		
		<div class = 'column_quiz_right' id='quiz1_D_error'  >  </div>
	</div>
 

	<p><strong style='color: blue'>Question 2:</strong> 
	If in this round you choose {{ action_Y_button }} and {{theotherParticipantChooses}}  {{ action_X_button }} , what will your earning from stage 1 be? 
	<br> <em> Hint: If you open the calculator and select Y for you and select X for 
	{{ if Faction_Number_minus1 == 1 }}the other participant{{ else }}all other participants{{ endif }}, your earning from stage 1 are presented in the first row of the ‘Earn’ column. </em> </p>
	
	
	<div class = 'row' >
		<div class = 'column_quiz_left'   > 
			<input  name='quiz1_1C' id='quiz1_1C' class='quiz' type='number' style='width: 60px;' placeholder="integer" /> points </div> 
		<div class = 'column_quiz_right' id='quiz1_1C_error'   > 	</div>
	</div>
	
	
	<p> 
	<div style = "padding-left: 90px;">
    <input type="button" onclick="SubmitFunction()" value = "Check my answer" >
	
    </div>
	
        <p style='text-align: center;' id='quizMessage'></p>
		
	<div style = "padding-left: 90px;">	
	<button class='otree-btn-next btn btn-primary' id='NextButton' style='display:none;'>Next</button>
    <input type='hidden' name='quizHistory1' value=',' id='id_testingHistory'/>
	</div>
    </div>
	</div>
	

{% endblock %}
